<header>
<div class="links">
  <div id="hamburger">
      <div class="container" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  <div class="links-content eighty">
      <div id="nav-bar">
      <a class="header-link" href="/">home</a>
      <a class="header-link">about</a>
      <a class="header-link">study</a>
      <a class="header-link">practice</a>
    <div class="search-bar">
      <form id="form"> 
        <input type="search" id="query" name="q" placeholder="I'm looking for...">
        <button id="searchBtn">Search</button>
      </form>
    </div>
    </div>
  </div>
</div>
</header>