<div id="side-bar" style="display: none">
  <div class="sidebar-link-box">
    <div class="sidebar-link link-header"><p class="arcana-links" id="major-arcana-sidebar">major arcana</p></div>
      <div id="major-arcana-sidebar-links" style="display: none">
        <div class="sidebar-link minor-link"><i><a href="/major-arcana/overview">overview</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/00">the fool | 00</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/01">the magician | 01</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/02">the high priestess | 02</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/03">the empress | 03</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/04">the emperor | 04</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/05">the hierophant | 05</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/06">the lovers | 06</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/07">the chariot | 07</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/08">the strength | 08</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/09">the the hermit | 09</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/10">the wheel of fortune | 10</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/11">justice | 11</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/12">the hanged man | 12</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/13">death | 13</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/14">temperance | 14</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/15">the devil | 15</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/16">the tower | 16</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/17">the star | 17</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/18">the moon | 18</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/19">the sun | 19</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/20">judgement | 20</a></i></div>
        <div class="sidebar-link" ><i><a href="/major-arcana/21">the world | 21</a></i></div>
      </div>
    <div class="sidebar-link link-header"><a><p class="arcana-links" id="minor-arcana-sidebar">minor arcana</p></a></div>
    <div id="minor-arcana-sidebar-links" style="display: none">
        <div class="minor-link sidebar-link"><i><a href="/minor-arcana/overview">overview</a></i></div>
        <div class="minor-link sidebar-link"><i><a href="/minor-arcana/swords">swords</a></i></div>
        <div class="minor-link sidebar-link"><i><a href="/minor-arcana/cups">cups</a></i></div>
        <div class="minor-link sidebar-link"><i><a href="/minor-arcana/pentacles">pentacles</a></i></div>
        <div class="minor-link sidebar-link"><i><a href="/minor-arcana/wands">wands</a></i></div>
    </div>
  </div>
  <div class="border-right"></div>
</div>