<div class='content'>
  <h1>{{this.1.suit}}</h1>
  <div class="mnr-card-images">
  {{#each this}}
    <a href="/minor-arcana/{{suit}}/{{id}}"><img src='{{image}}' class="suit-view"></a>
  {{/each}}
  </div>
</div>